* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-size: 100%;
  background-color: black;
  background-repeat: 'no-repeat';
  background-position: 0 0;
  color: aliceblue;
  margin: 0;
  padding: 0
}