* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-size: 100%;
  /*background-image: url('./images/diego-ph-5LOhydOtTKU-unsplash.jpg');*/
  background-color: black;
  background-repeat: 'no-repeat';
  background-position: 0 0;
  color: aliceblue;
  margin: 0;
  padding: 0
}

.links {
  margin: 10rem 10rem 0 10rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.links .inside {
  flex-grow: 1.5;
}

.links .inside p {
  font-size: 1.25rem;
}

.links .inside h1 {
  margin: 0;
  font-size: 7.5rem
}

.links .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: baseline;
}

.links .icons .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links .icons .icon .icon-link {
  justify-self: start;
  width: 80%;
  text-decoration: none;
  color: #d4af37;
}

.links .icons .icon .icon-img img {
  height: 5rem;
  width: auto;
  margin: 1rem;
}
.education {
  margin: 10rem 10rem 0 10rem;
}

.education .inside p {
  font-size: 1.25rem;
}

.education .inside h1 {
  margin: 0;
  font-size: 7.5rem
}

.education .education-content ul {
  margin-top: 3rem;
  padding: 0;
  list-style: none;
}

.education .education-content ul li {
  text-decoration: none;
  margin: 0 0 3rem 0;
}

.education .education-content ul li .education-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education .education-content ul li .education-section * {
  margin: 0;
  padding: 0;
}

.education .education-content ul li .education-section h3 {
  color: #d4af37;
}


.projects {
  margin: 10rem 10rem 0 10rem;
}

.projects .inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects .inside p {
  font-size: 1.25rem;
}

.projects .inside h1 {
  margin: 0;
  font-size: 7.5rem
}

.projects .projects-table {
  margin-top: 1rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.projects .projects-table .search {
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: last baseline;
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1 1 0;
}

.projects .projects-table .search input[type=text] {
  background-color: black;
  opacity: 1;
  flex-grow: 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: slategrey;
  margin-left: 1rem;
  font-size: 2rem;
  color: aliceblue;
  outline: none;
}

.projects .projects-table .search input[type=text]::placeholder {
  color: #545454;
}


.projects .projects-table .search img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.projects .projects-table .projects-content {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
  justify-content: space-between;
  margin-top: 1rem;
  overflow: hidden;
  flex: 5 1 0;
}

.projects .projects-table .projects-content .sidebar {
  grid-area: "sidebar";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  overscroll-behavior: none;
  margin: 0;
  padding: 1rem;
}

.projects .projects-table .projects-content .sidebar ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects .projects-table .projects-content .sidebar ul li button {
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  border-color: slategrey;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
  width: 100%;
  height: 6rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.projects .projects-table .projects-content .sidebar ul li button:hover {
  background-color: slategrey;
}

.projects .projects-table .projects-content .sidebar ul li button:active {
  background-color: #4f4f4f;
}

.projects .projects-table .projects-content .content {
  margin: 1rem 1rem 0 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  border-color: slategrey;
  padding: 1rem;
  grid-area: "content";
  overflow: scroll;
  white-space: pre-line;
}

.projects .projects-table .projects-content .content .keywords {
  color: lightslategrey;
  display: flex;
  flex-direction: row;
}

.projects .projects-table .projects-content .content .keywords h3 {
  margin-right: 1rem;
  margin-bottom: 1rem;
}


.projects .projects-table .projects-content .content .project-items {
  margin: 1rem 0 0 0;
  padding: 0;
}

.projects .projects-table .projects-content .content .project-items .project-item h4 {
  color: #d4af37;
  float: left;
  margin: 0 0.5rem 0 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  margin: 10rem 10rem 0 10rem;
}

.title .profile {
  width: 50%;
}

.title .inside {
  width: 30%;
}

.title .inside h1, h2 {
  margin: 0;
}

.title .inside h1 {
  font-size: 7.5rem
}

.title .inside h2 {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #d4af37;
}

.title .inside p {
  font-size: 1.25rem;
  margin-top: 5rem;
}

.title .inside ul {
  list-style-type: none;
  padding: 0
}

.footer {
  margin: 10rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
}